.card {
    width: 200px;
    margin: 10px 10px;
    display: inline-block;

    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.25);
}

.avatar {
    width: 100%;
    height: 200px;
}

.cardContent {
    padding: 5px 10px;
}